speechrecognition 
selenium
googletrans
nltk
torch
numpy
keyboard
gtts
tkinter
playsound
pyttsx3
pywikihow
bs4 
BeautifulSoup
pywhatkit
wikipedia
pyautogui
psutil
pyjokes
pytube
pyPDF2
pyinstaller
PyQt5